@font-face {
    font-family: 'Roboc Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboc Regular'), url('Roboc.woff') format('woff');
}

h1 {
    font-family: 'Roboc Regular';
    font-weight: 200;
    color: #00ff15;
}